AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_BUCKET=olist-lake
SPARK_MASTER=local[*]
ICEBERG_CATALOG=lakehouse
ICEBERG_CATALOG_URI=http://localhost:8181
ICEBERG_WAREHOUSE=s3://warehouse/
ICEBERG_S3_ENDPOINT=http://localhost:9000
BRONZE_PREFIX=bronze/olist
SILVER_NAMESPACE=olist_silver
GOLD_NAMESPACE=olist_gold
